body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://s2.glbimg.com/p5jZqWt5fySTb62T0PUMELVXXzk=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_63b422c2caee4269b8b34177e8876b93/internal_photos/bs/2019/X/1/fdOGu2SfWyj8EbHqNE4g/csnminerio.jpg");
    
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  h1 {
    text-align: center;
    color: #aab8a7;
    padding: 15px;
    top: 0px;
  }
  h2 {
    text-align: center;
    background: transparent;
    color: #07aa8f;
    font-family: "Times New Roman", Times, serif;
  }
  h3 {
    text-align: center;
    background: transparent;
    color: #07aa8f;
    font-family: "Times New Roman", Times, serif;
  }
  .botao01 {
    color: #6495ED;
    text-decoration: none;
    margin-top: 80px;
  }
  
 
